* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
}

.container {
    padding: 1rem;
    width: 20rem;
    height: auto;
    margin: 3rem auto;
    border: solid darkred 2px ;
    box-shadow: darkgrey 0 0 3rem;
    background: url("color.jpg");
    background-size: 100% 100%;
    border-radius: 2rem;
}

#affichage {
    width: 100%;
    height: 5rem;
    text-align: center;
    padding: 1rem;
}

.commande {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

button {
    margin: 0.2rem;
    width: 22%;
    height: 4rem;
    border-radius: 2rem;
}

input {
    padding-left: 2rem;
    width: 100%;
    height: 60px;
    font-size: 1rem;
}

#affichage, button {
    border: solid orange 3px;
    font-size: 1.4rem;
}

button:hover {
    background: lightskyblue;
}

@media screen and (max-width: 350px) {

    .container {
        width: 100%;
    }

}